<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <title>MyPomo</title>
</head>


<header>
    <div class="header-container">  
        <a href="/login" class="login-link"> Login </a>
    </div>
</header>



<main>
    <h1>classic timer</h1>
</main>

<footer>
    <p>© 2024 MyPomo. sakiscans wuz here.</p>
</footer>
</html>

